@model IEnumerable<ControleDeFuncionariosMVC.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de Funcionarios</h4>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">   
     <a asp-action="Create" class="btn btn-primary" role="button" >Adicionar novo Funcionario</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.NomeCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId"    role="button" class="btn btn-primary" style="width: 90px; margin-top:10px;">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.FuncionarioId" role="button" class="btn btn-info"  style="width: 90px; margin-top:10px;">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId"  role="button" class="btn btn-danger" style="width: 90px; margin-top:10px;">Deletar</a>
            </td>
        </tr>}
    </tbody>
</table>


