@model IEnumerable<ControleDeFuncionariosMVC.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h4>Cargos</h4>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">   
    <a asp-action="Create"  class="btn btn-primary" role="button">Criar novo cargo </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId" role="button" class="btn btn-primary" style="width: 90px;">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.CargoId" role="button" class="btn btn-info" style="width: 90px;">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.CargoId" role="button" class="btn btn-danger" style="width: 90px;">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
